body {

	padding: 15px 0;

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

	font-size: 1em;

	line-height:1.6em;
		
		background:#3eafff
}
#navigation {
  height: 100%;
  position: fixed;
  width: 240px;
}
#content {
  float: left;
  height: 100%;
  left: 240px;
  position: relative;
  width: 720px;
}
#content p {text-align:justify;}
img {

	width: 100%;

}

a {color:#FFFFFF;}

a:hover,a:active {color:#e2e2e2;text-decoration:none;}

hr {
  border-bottom: 1px solid #5ab5f6;
  border-top: 1px solid #2ca0f1;
}

#navigation h1.nav-header {

	padding: 0 15px;
	margin-bottom: 0;
  font-family: "Helvetica Neue", Arial, Helvetica,"Trebuchet MS", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  line-height: 0.8em;
}


#navigation a.nav-header {

	padding: 5px 15px;

	font-weight: bold;

}



#navigation ul.uk-nav {

	padding: 15px 0;

}



#navigation p {

	padding-bottom: 10px;

}



#navigation li.language-select select {

	float: right;

}
#navigation ul li a {
  font-family: "Helvetica Neue", Arial, Helvetica,"Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0 0;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: uppercase;
}
.uk-nav-side > li > a:hover, .uk-nav-side > li > a:focus {
 text-shadow:none;
}
.uk-nav-side .uk-nav-divider {
  border-top: 2px dashed #fff;
  box-shadow: none;
}
/*
#content h2,h1 {

	font-family: "Helvetica Neue",Georgia, "Times New Roman", Times, serif; font-weight:bold;

}*/


#content h2 {
  border-bottom: 4px solid #fff;
  border-top: 4px solid #fff;
  color: #fff;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, Helvetica,"Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}


#content img.header {

	margin-bottom: 20px;

}



#content ul {

	list-style-type: square;

}



#content li.done {

	color: #008000;

	text-decoration: line-through;

}



#content div.images div {

	padding-bottom: 25px;

}



#content p.images-text {

	margin-top: -15px;

}



#content .iframe-container {

	position: relative;

	/* Magic! Makes sure the container is high enough to show the entire iframe 

	 * Thanks to http://andmag.se/2011/11/responsive-embeds/ */

	padding-bottom: 56.5%;

}



#content iframe {

	position: absolute;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

}



@media (max-width: 767px) {

	h2 {

		margin-top: 25px;

	}

}

